/* --- SNACKBAR DE ERRO (Vermelho) --- */
.error-snackbar.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
}

/* Cor do botão de fechar/ação para Erro */
.error-snackbar .mat-mdc-snack-bar-action {
  --mdc-snack-bar-button-label-text-color: #ffffff !important;
}

/* --- SNACKBAR DE SUCESSO (Verde) --- */
.success-snackbar.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
}

/* Cor do botão de fechar/ação para Sucesso */
.success-snackbar .mat-mdc-snack-bar-action {
  --mdc-snack-bar-button-label-text-color: #ffffff !important;
}