<section>
    <div class="headBooks">
        <h1>Livros</h1>
    </div>

    <div class="crudBookBtns">
        <button id="createBookBtn" (click)="openAddBookDialog()">Cadastrar Livro</button>
        <button id="deleteBookBtn" (click)="deleteBook()">Deletar Livro</button>
        <button id="updateBookBtn" (click)="updateBook()">Atualizar Livro</button>
    </div>
    <div class="bookDiv">
        <div class="filterBooks">
            <div>
                <label for="checkbox">Disponível</label>
                <input type="checkbox" name="" id="checkbox" [(ngModel)]="available" placeholder="Disponível">
            </div>
            <button id="filterBooksBtn" (click)="loadBooks()">Filtrar</button>
        </div>
        @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        } @else {
            @for (book of books; track book.id) {
                <app-book-card [book]="book" />
            }
        }
    </div>
</section>