<section>
    <div class="headClients">
        <h1>Clientes</h1>
    </div>

    <div class="crudClientBtns">
        <button id="createClientBtn" (click)="openCreateClient()">Cadastrar Cliente</button>
        <button id="deleteClientBtn" (click)="deleteClient()">Deletar Cliente</button>
        <button id="updateClientBtn" (click)="updateClient()">Atualizar Cliente</button>
    </div>
    <div class="clientsDiv">
        <button class="obterCli" (click)="loadClients">Obter clientes</button>
        @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        } @else {
            @for (client of clients; track client.id) {
                <app-client-card [client]="client" />
            }
        }
    </div>
</section>