<section>
    <div class="headReservations">
        <h1>Reservas</h1>
    </div>

    <div class="crudReservationsBtns">
        <button id="createReservationsBtn" (click)="createReservation()">Fazer Reserva</button>
        <button id="updateReservationsBtn" (click)="finishReservation()">Atualizar Status de Reserva</button>
    </div>
    <div class="reservationsDiv">
        <div class="filterReservations">
            <div>
                <label for="checkbox">Pendentes</label>
                <input type="checkbox" name="" id="Pendentes" [(ngModel)]="pending" placeholder="Pendentes">
            </div>
            <button id="filterReservationsBtn" (click)="loadReservations()">Filtrar</button>
        </div>
        @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        } @else {
            @for (reservation of reservations; track reservation.id) {
                <app-reservation-card [reservation]="reservation" />
            }
        }
    </div>
</section>