/* --- ESTILO PARA ERRO --- */
.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

/* Cor do texto e do botão no erro */
.error-snackbar .mdc-snackbar__label,
.error-snackbar .mat-mdc-snack-bar-action {
  color: #ffffff !important;
  --mdc-snack-bar-button-label-text-color: #ffffff !important;
}

/* --- ESTILO PARA SUCESSO --- */
.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

/* Cor do texto e do botão no sucesso */
.success-snackbar .mdc-snackbar__label,
.success-snackbar .mat-mdc-snack-bar-action {
  color: #ffffff !important;
  --mdc-snack-bar-button-label-text-color: #ffffff !important;
}